body {
	// margin-bottom: 150px;
}

.col-lg-2-4{
  @include make-lg-column(2.4)
}
.col-md-2-4{
  @include make-md-column(2.4)
}
.col-sm-2-4{
  @include make-sm-column(2.4)
}

.section-padded {
	padding-top: 40px;
	padding-bottom: 40px;
}