h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	font-weight: bold;
}

h5, .h5 {
	color: $text-color;
	font-weight: 300;
}

@media (max-width: $screen-sm-max) {
	h1, .h1 {
		font-size: 38px;
	}
	h2, .h2 {
		font-size: 32px;
	}
}

.section-dark {
	color: #fff;
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5 {
		color: #fff;
	}
	.btn {
		color: #fff;
		font-weight: bold;
	}
}