.footer {
	max-height: 100vh;
	// overflow: auto;
	padding: 10px 0 10px;
	position: fixed;
	z-index: 10;
	bottom: 0px;
	background-color: #fff;
	width: 100%;
	transform: translate3d(0,calc(100% - 70px),0);
	border-top: 1px solid #ddd;
	transition: transform .5s ease-in-out;
	font-size: 16px;
	&.active {
		transform: translate3d(0,0%,0);
		#footer-toggle-icon {
			transform: rotate(-180deg);
		}
	}
	h4 {
		margin-bottom: 20px;
	}
	ul {
		li {
			margin-bottom: 10px;
			a {
				color: #565656;
			}
		}
	}

}

@media (max-width: $screen-sm-max) {
	.footer {
		overflow: auto;
	}
	.col-md-4 {
		margin-bottom: 30px;
	}
}
.footer-copy {
	font-size: 1.3rem;
	margin-top: 20px;
	a {
		color: inherit;
	}

}
#footer-toggle {
	position: absolute;
	width: 100%;
	height: 68px;
	left: 0;
	top: 0;
	z-index: 11;
}
#footer-toggle-icon {
	z-index: 10;
	background-color: $brand-primary;
	color: #fff;
	transition: transform .3s ease-in-out;
	// border: 1px solid #ddd;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 22px;
	right: 20px;
}