// ISV index
.isvs {
	display: inline-block;
	width: 100%;
    margin: 40px auto 40px;
    text-align: center;
}

.pagination {
    clear: both;
    width: 100%;
    list-style:none;
    margin-bottom: 180px;
    li {
        float: left;
        padding: 5px 10px;
    }
}
#isv-pagination {
    float: left;
    visibility: hidden;
}
@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}
#isv-loading {
    overflow: hidden;
    visibility: hidden;
    i {
        display: block;
        text-align: center;
        font-size: 44px;
        color: #d0d0d0;
        animation: spin 1.4s infinite linear;
    }
}

.isv {
    margin-bottom: 50px;
    .isv-image img {
        width: 100%;
        max-width: 150px;
        max-height: 150px;
        border-radius: 20px;
        margin: 0px auto 20px;
        // border: 1px solid #eeeeee;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    }
    .isv-name {
        font-size: 17px;
    }
    .isv-category {
        font-size: 14px;
        opacity: .7;
    }
    @media (max-width: $screen-xs-max) {
        &:nth-child(2n+1) {
            clear: left;
        }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        &:nth-child(3n+1) {
            clear: left;
        }
    }
    @media (min-width: $screen-md-min) {
        &:nth-child(5n+1) {
            clear: left;
        }

    }

}

// ISV single lightbox
.isv-single {
    h1 {
        font-size: 42px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .isv-images {
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        position: absolute;
        height: 100%;
        left: 0;
        top:0;  
        width: 50%;
        float: left;
        li {
            overflow: hidden;
            position: relative;
        }
        .isv-image {
            background-size: cover;
            background-position: center center;
        }
        @media (max-width: $screen-sm-max) {
            position: relative;
            width: 100%;
            height: 40vh;
        }
        &:hover {
            .video-play-btn {
                opacity: 1;
            }
        }

    }
    .isv-info {
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        padding: 20px 40px;
        width: 50%;
        height: 100%;
        float: right;
        position: absolute;
        right: 0;
        overflow-y: scroll;
        @media (max-width: $screen-sm-max) {
            position: relative;
            width: 100%;
            height: 50vh;
        }
        .isv-company-name {
            opacity: .5;
            font-size: 16px;
        }
        .isv-content {
            margin: 30px 0;
        }
        ul.isv-categories {
            padding: 0;
            li {
                font-size: 13px;
                border: 1px solid #ccc;
                border-radius: 15px;
                padding: 3px 8px;
                display: inline-block;
                float: left;
                margin-right: 5px;
                margin-bottom: 5px;
            }
        }
    }

    .video-play-btn, .video-stop-btn {
        cursor: pointer;
        position: absolute;
        top: 100%;
        left: 0;
        font-weight: bold;
        padding: 8px 0;
        color: $headings-color;
        font-size: 20px;
        transition: all .3s ease-in-out;
        i {
            margin-right: 5px;
        }
    }
    .video-play-btn {
        transform: translate3d(-50%,-50%,0);
        top: 50%;
        left: 50%;
        // opacity: 0;
        i {
            font-size: 40px;
            width: 60px;
            height: 60px;
            line-height: 62px;
            display: block;
            position: relative;
            text-align: center;
            color: #fff;
            &:before {
                margin-left: 9%;
            }
            &:after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border: 3px solid #fff;
                border-radius: 50%;
            }
        }
    }
    .video-stop-btn {
        display: none;
        i {
            font-size: 12px;
            position: relative;
            top: -2px;
        }
    }
    .video-container {
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        // padding-bottom: 65%;
        iframe, video {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
}

.video-active {
    .video-container {
        visibility: visible;
        opacity: 1;
    }
    .video-play-btn {
        display: none;
    }
    .video-stop-btn {
        display: block;
    }
    .isv-images, .isv-info {
        visibility: hidden;
        opacity: 0;
    }
}

// Slider
.lightSlider {
    img {
        width: 100%;
    }
}
.lSSlideOuter .lSPager.lSpg {
    position: absolute;
    bottom: 0;
    left: 100%;
    padding: 15px 10px;
    li {
        display: block;
        float: left;
        line-height: 1.2;
    }
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #d6d6d6;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: $brand-primary;
}
.lSSlideOuter, .lSSlideWrapper, .light-slider, .lSSlideOuter li, .lSSlideOuter .isv-image {
    height: 100% !important;
}

// Modals
.modal {
    .loading {
        color: $brand-primary;
        font-size: 40px;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: white;
        height: 100%;
        z-index: 10;
        i {
            margin: 0 auto;
            display: block;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            &:before {
                animation: spin 1.4s infinite linear;
            }
        }
    }
}

.modal-close {
    position: absolute;
    background: #fff;
    z-index: 10;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 50%;
    opacity: .5;
    transition: opacity .2s ease-in-out;
    &:hover {
        opacity: 1;
    }
    i {
        line-height: 29px;
        color: $headings-color;
        font-size: 30px;
        &:before {
            width: 29px;
        }
    }
}

.modal-content {
    border-radius: 0;
    border: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.modal-backdrop {
    background-color: #fff;
    &.in {
        opacity: .85;
    }
}
#isv-modal .modal-content {
    // min-height: 600px;
    &:after {
      padding-top: 56.25%;
      /* 16:9 ratio */
      display: block;
      content: '';
    }
}
.modal-dialog {
    width: 950px;
    max-width: 95%;
}
@media (max-width: $screen-sm-max) {
    .modal-dialog {
        height: 90vh;
        width: 600px; 
    }
    .modal-content {
        height: 90vh;
    }
}


// Filters
.filters {
    @media (min-width: $screen-md-min) {
        margin-bottom: 40px;
    }
}
.filter select {
	height: 50px;
    width: 100%;
}


.select2-container {
	max-width: 100%;
    width: 100% !important;
    margin-bottom: 10px;
}

.select2-container .select2-selection--single {
    height: 50px;
    border: 1px solid #eaeaea;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04), 0 1px 5px 0 rgba(0,0,0,0.02), 0 3px 1px -2px rgba(0,0,0,0.1);
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    width: 30px;
	padding: 0 5px;
	color: $headings-color;
    &:before {
    	content: "\f3d0";
    	font-family: 'Ionicons';
    	display: block;
    	line-height: 50px;
    	font-size: 12px;
    }
    b {
    	display: none;
    }
}
.select2-dropdown {
	border: 1px solid #eaeaea;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.04), 0 1px 5px 0 rgba(0,0,0,0.02), 0 3px 1px -2px rgba(0,0,0,0.1);
    
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #f7f7f7;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $brand-primary;
    color: white;
}