.page-edit-controls {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 20;
	a {
		background: #2ede91;
		width: 54px;
		height: 54px;
		display: inline-block;
		float: left;
		border-radius: 100%;
		min-width: 0;
		padding: 0;
		margin-right: 10px;
		text-align: center;
		i {
			color: white;
			font-size: 38px;
			line-height: 54px;
		}
	}
	.btn-cancel {
		background: #ff5b15;
	}
	.btn-save {

	}
}

.alert-fixed {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 10px 20px;
	color: #fff;
	background: #349dff;
	z-index: 10000;
	animation-name: alert;
	animation-delay: 4s;
	animation-fill-mode: forwards;
	animation-duration: 300ms;

	&.error {
		background: #ff5b15;
	}
	&.success {
		background: #2ede91;
	}
}
@keyframes alert{
    from {
    	opacity :1;
    	visibility: visible;
    }
    to {
    	opacity :0;
    	visibility: hidden;
    }
}