#post-modal {
	.modal-dialog {
		width: 600px;
		max-width: 95%;
	}
	.modal-content {
		overflow: auto;
	}
	.post-image {
		img {
			max-width: 100%;
		}
	}
	.post-info {
		h1 {
			font-size: 38px;
			font-weight: 300;
			margin-top: 0;
		}
		padding: 20px 25px 30px;
	}
	.event-date {
		font-size: 22px;
	}
}
