
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: transparent;
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.6;
$headings-color: #2a2929;
$text-color: #949494;
$font-size-h1: 90px;
$font-size-h2: 70px;
$font-size-h3: 34px;
$font-size-h4: 20px;
$font-size-h5: 20px;


// Navbar
$navbar-height: 70;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #f7f7f7;
$navbar-default-link-active-color: #fff;
$navbar-default-toggle-border-color: transparent;
$navbar-default-bg: #000;
$navbar-default-link-active-bg: transparent;

// Buttons
$btn-default-color: $text-color;
$brand-primary: #ac1a2c;
$btn-border-radius-base: 25px;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;